*{

}
header{
    color:red;
    height: 80 px;

}
body{
    background-color: black;
    color:red;
    height : 80px;
    text-align: center;
    font-family:monospace

}
h1{
    color:red;
    font-family:monospace
    
}

.groupe img{
    height: 40%;
    width: 40%;
}

.presentation li{
    display: inline;
}
.presentation img{
    height: 10%;
    width: 10%;
    float: center;


.presentation select{
    display:inline
}